<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Patient Information System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container-fluid p-5">
        <h1 class="text-center mb-5">Covid Vaccine Management System</h1>
        <div class="row">
            <button type="button" class="btn btn-primary" id="add-btn">Submit</button>
            <button type="button" class="btn btn-secondary" id="viewVaccine-btn">View Vaccine Details</button>
            <button type="button" class="btn btn-secondary" id="viewDiagnosed-btn">View Current Diagnosed Members </button>
            <button type="button" class="btn btn-secondary" id="viewDashboard-btn">View Analytics Dashboard</button>
            <button type="button" class="btn btn-primary" id="vaccination-btn">Vaccination Form</button>
            <button type="button" class="btn btn-primary" id="dignosed-btn">Diagnosed Form</button>
        </div>

            <div id="add-container" class="container-fluid p-5 d-none">
                <!-- Add Regular Checkup Information Form -->
                <form id="add-form">
                    <h3>Insert Information</h3>
                    <div class="form-group">
                        <label for="EpId">Employee ID:</label>
                        <input type="text" class="form-control" id="EpId" name="EpId" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="Result">Address:</label>
                        <textarea class="form-control" id="Result" name="Result" required></textarea>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            
            

  
  <script>
    $(document).ready(function() {
        // Submit Button
        $("#add-btn").click(function() {
            $("#add-container").removeClass("d-none");
            $("#update-container, #delete-container").addClass("d-none");
        });

    
        // View Button
        $("#viewVaccine-btn").click(function() {
            window.location.href = "viewVaccine.html";
        });

        $("#viewDiagnosed-btn").click(function() {
            window.location.href = "viewDiagnosed.html";
        });

        $("#viewDashboard-btn").click(function() {
            window.location.href = "viewAnalytics.html";
        });

        // routes
        $("#viewVaccine-btn").click(function() {
            window.location.href = "vaccination.html";
        });
        $("#viewVaccine-btn").click(function() {
            window.location.href = "diagnosed.html";
        });
    });
    </script>
    
  </body>
</html>
